<%- include ../partials/header.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead">Edit the survey!</p>

    <br class="my-4">

    <div class="survey-creation row">
      <form class="col-sm-8" action="" method="post">
        <fieldset class="form-group">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" placeholder="Edit Survey Name" name="name"
            value="<%= survey.name %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputType">Type</label>
          <input type="text" class="form-control" id="inputType" placeholder="Edit survey type" name="type"
            value="<%= survey.type %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputReleaseDate">Release date</label>
          <input type="date" class="form-control" id="inputReleaseDate" placeholder="Enter survey release date" name="releaseDate"
            value="<%= survey.releaseDate %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputExpiryDate">Expiry date</label>
          <input type="date" class="form-control" id="inputExpiryDate" placeholder="Edit expiry date" name="expiryDate"
            value="<%= survey.expiryDate %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inpuId">Question 1</label>
          <input type="text" class="form-control" id="inputQuestion1" placeholder="Enter question 1" name="question1"
            value="<%= survey.question1 %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inpuId">Question 2</label>
          <input type="text" class="form-control" id="inputQuestion2" placeholder="Enter question 2" name="question2"
            value="<%= survey.question2 %>" required>
        </fieldset>
        <fieldset class="form-buttons">
          <button class="btn btn-primary" type="submit"> <i class="fas fa-edit "></i> Update Survey</button>
          <a href="/survey-list" class="btn btn-warning"> <i class="fas fa-undo" role="button"></i> Cancel</a>
        </fieldset>
      </form>
    </div>

  </div>
  
</main>

<%- include ../partials/footer.ejs %>