<%- include ../partials/header.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead">Edit the business survey!</p>

    <br class="my-4">

    <div class="survey-creation row">
      <form class="col-sm-8" action="" method="post">
        <fieldset class="form-group">
          <label for="inputFirstName">Name</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="Enter Survey Name" name="name"
            value="<%= survey.name %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Enter your address" name="address"
            value="<%= survey.address %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputAge">Age</label>
          <input type="number" class="form-control" id="inputAge" placeholder="Enter Your Age" name="age"
            value="<%= survey.age %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputHeight">Height</label>
          <input type="text" class="form-control" id="inputHeight" placeholder="Enter Your Height" name="height"
            value="<%= survey.height %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputWeight">Weight</label>
          <input type="text" class="form-control" id="inputWeight" placeholder="Enter Your Weight" name="weight"
            value="<%= survey.weight %>" required>
        </fieldset>
        <fieldset class="form-buttons">
          <button class="btn btn-primary" type="submit"> <i class="fas fa-edit "></i> Update Contact</button>
          <a href="/survey-list" class="btn btn-warning"> <i class="fas fa-undo" role="button"></i> Cancel</a>
        </fieldset>
      </form>
    </div>

  </div>
  
</main>

<%- include ../partials/footer.ejs %>