<%- include ../partials/header.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead">Edit the survey!</p>

    <br class="my-4">

    <div class="survey-creation row">
      <form class="col-sm-8" action="" method="post">
        <h4>Survey Information</h4>
        <fieldset class="form-group">
          <label for="inputFirstName">Name</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="Edit Survey Name" name="name"
            value="<%= survey.name %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputAddress">Type</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Edit survey type" name="type"
            value="<%= survey.type %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputHeight">Release date</label>
          <input type="date" class="form-control" id="inputHeight" placeholder="Enter survey release date" name="releaseDate"
            value="<%= survey.releaseDate %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputWeight">Expiry date</label>
          <input type="date" class="form-control" id="inputWeight" placeholder="Edit expiry date" name="expiryDate"
            value="<%= survey.expiryDate %>" required>
        </fieldset>
        <div class="questions">
          <h4>Survey Questions</h4>
          <div class="question">
            <fieldset class="form-group">
              <label for="inputQuestion">Question 1</label>
              <input type="text" class="form-control" id="inputQuestion" placeholder="Enter survey question 1" name="q1"
                value="<%= survey.question.question %>" required>
            </fieldset>
            <fieldset class="form-group choices">
              <label for="inputChoice1">Choice 1</label>
              <input type="text" class="form-control" id="inputChoice1" placeholder="Enter choice 1" name="q1c1"
                value="<%= survey.question.choices.c1 %>" required>
              <label for="inputChoice2">Choice 2</label>
              <input type="text" class="form-control" id="inputChoice2" placeholder="Enter choice 2" name="q1c2"
                value="<%= survey.question.choices.c2 %>">
              <label for="inputChoice3">Choice 3</label>
              <input type="text" class="form-control" id="inputChoice3" placeholder="Enter choice 3" name="q1c3"
                value="<%= survey.question.choices.c3 %>">
              <label for="inputChoice4">Choice 4</label>
              <input type="text" class="form-control" id="inputChoice4" placeholder="Enter choice 4" name="q1c4"
                value="<%= survey.question.choices.c4 %>">
            </fieldset>
          </div> 
        </div> 
        <fieldset class="form-buttons">
          <button class="btn btn-primary" type="submit"> <i class="fas fa-edit "></i> Update Survey</button>
          <a href="/survey-list" class="btn btn-warning"> <i class="fas fa-undo" role="button"></i> Cancel</a>
        </fieldset>
      </form>
    </div>

  </div>
  
</main>

<%- include ../partials/footer.ejs %>