<%- include ../partials/header.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead">Edit the survey!</p>

    <br class="my-4">

    <div class="survey-creation row">
      <form class="col-sm-8" action="" method="post">
        <fieldset class="form-group">
          <label for="inputFirstName">Name</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="Edit Survey Name" name="name"
            value="<%= survey.name %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputAddress">Type</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Edit survey type" name="type"
            value="<%= survey.type %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputAge">ID</label>
          <input type="number" class="form-control" id="inputAge" placeholder="Enter survey ID" name="id"
            value="<%= survey.id %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputHeight">Release date</label>
          <input type="date" class="form-control" id="inputHeight" placeholder="Enter survey release date" name="releaseDate"
            value="<%= survey.releaseDate %>" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputWeight">Expiry date</label>
          <input type="date" class="form-control" id="inputWeight" placeholder="Edit expiry date" name="expiryDate"
            value="<%= survey.expiryDate %>" required>
        </fieldset>
        <fieldset class="form-buttons">
          <button class="btn btn-primary" type="submit"> <i class="fas fa-edit "></i> Update Survey</button>
          <a href="/survey-list" class="btn btn-warning"> <i class="fas fa-undo" role="button"></i> Cancel</a>
        </fieldset>
      </form>
    </div>

  </div>
  
</main>

<%- include ../partials/footer.ejs %>